.homepage-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../assets/start-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .homepage-data {
    position: absolute;
    top: 145px;
    left: 0px;
    width: 100%;
    height: 68px;
    .homepage-data-content {
      width: 100%;
      height: 100%;
      .homepage-data-item {
        float: left;
        margin-right: 86px;
        &:first-child {
          margin-left: 59px;
        }
        .homepage-data-item-title {
          color: #e6e6e6;
          height: 16px;
          line-height: 16px;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .homepage-data-item-bottom {
          position: relative;
          height: 42px;
          padding-top: 11px;
          padding-left: 20px;
          background-color: rgba(44, 238, 255, 0.15);
          .border-left-top,
          .border-right-top,
          .border-left-bottom,
          .border-right-bottom {
            position: absolute;
            width: 9px;
            height: 9px;
          }
          .border-left-top {
            border-left: 1px solid #1a7c89;
            border-top: 1px solid #1a7c89;
            left: -1px;
            top: -1px;
          }
          .border-right-top {
            border-top: 1px solid #1a7c89;
            border-right: 1px solid #1a7c89;
            right: -1px;
            top: -1px;
          }
          .border-left-bottom {
            border-bottom: 1px solid #1a7c89;
            border-left: 1px solid #1a7c89;
            left: -1px;
            bottom: -1px;
          }
          .border-right-bottom {
            border-bottom: 1px solid #1a7c89;
            border-right: 1px solid #1a7c89;
            right: -1px;
            bottom: -1px;
          }
          .hour-num,
          .minute-num,
          .sec-num {
            font-size: 20px;
            font-weight: bold;
            color: #ffb400;
            letter-spacing: 2px;
          }
          .unit {
            font-size: 16px;
            color: #8ffcff;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .homepage-list {
    position: absolute;
    right: 0px;
    bottom: 100px;
    width: 220px;
    min-height: 200px;
    overflow: hidden;
    .homepage-list-content {
      width: 176px;
      box-sizing: border-box;
      border: 1px solid #0b5a65;
      transition: all 1s;
      position: absolute;
      left: 220px;
      &.homepage-list-spread {
        left: 0px;
      }
      .homepage-list-item {
        cursor: pointer;
        width: 100%;
        height: 38px;
        line-height: 38px;
        padding-left: 16px;
        color: #27d0e0;
        font-size: 14px;
        .item-icon {
          display: inline-block;
          position: relative;
          box-sizing: border-box;
          // background-color: #087c86;
          top: 6.5px;
          width: 25px;
          height: 25px;
          border-radius: 12.5px;
          border: 1px solid #27d0e0;
          background-color: #087c86;
        }
        &:hover {
          background-color: #087c86;
          color: #ffffff;
        }
        &.active {
          background-color: #087c86;
          color: #ffffff;
        }
      }
    }
    .control-bottom {
      position: absolute;
      right: 0px;
      top: 40px;
      width: 18px;
      height: 56px;
      //   background-color: rgba(123, 123, 123, 0.25);
      //   border-radius: 10px 0 0 10px;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      overflow: hidden;
      .highlight {
        position: absolute;
        top: 22px;
        width: 18px;
        height: 13px;
        // background-color: rgba(123, 123, 123, .15);
        // animation: theanimation .5s infinite;
        // -webkit-animation: theanimation .5s infinite;
        // -moz-animation: theanimation .5s infinite;
        // -o-animation: theanimation .5s infinite;
        // -ms-animation: theanimation .5s infinite;
      }
    }
  }
}

@keyframes theanimation{
    from {
        left:-18px
    }
    to {
        left: 18px
    }
  }
  @-moz-keyframes theanimation{
    from {
        left:-18px
    }
    to {
        left: 18px
    }
  }
  @-webkit-keyframes theanimation{
    from {
        left:-18px
    }
    to {
        left: 18px
    }
  }
  @-o-keyframes theanimation{
    from {
        left:-18px
    }
    to {
        left: 18px
    }
  }
