
// 第一个sideBar
@firstSideBarWidth: 75px;
@firstSideBarBackgroundColor: #383841;
@firstSideBarHoverColor: #6d6d7b;
@firstSideBarFontColor: #fff;
@firstSideBarFontSize: 13px;
// 第二个sideBar
@secordSideBarWidth: 200px;
@secordSideBarBackgroundColor: #fdf4e5;
@secordSideBarHoverColor: #ebe3d5;
@secordSideBarFontColor: #64615c;
