
.project-start-container {
    min-width: 1920px;
    max-width: 1920px;
    min-height: 1080px;
    max-height: 1080px;
    position: relative;
    .project-start-head {
        position: absolute;
        top: 0;
        z-index: 1111;
        width: 100%;
        height: 90px;
        line-height: 90px;
        background-image: url("../assets/start-head.png");
        color: #07e7fe;
        font-size: 32px;
        text-align: center;
        background-color: rgba(0,0,0,0);
    }
    .project-start-content {
        width: 100%;
        height: 1080px;
    }
}